In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('ISO_Country_Codes.csv') as f:
    isodf = pd.read_csv(f, header=None)
with open('relig.csv') as f:
    religdf = pd.read_csv(f)
isodf.rename(columns={0:'iso', 1:'country'}, inplace=True)

In [3]:
isodf.head()

   iso        country
0  ABW          Aruba
1  AFG    Afghanistan
2  AGO         Angola
3  AIA       Anguilla
4  ALA  �land Islands

In [4]:
religdf.head()

       country  gdp_pc  gpi_rank  gpi_score  percentage_non_religious
0      Iceland   38300         1      1.113                     10.04
1      Denmark   36600         2      1.239                      6.90
2  New Zealand   27700         2      1.239                     34.60
3       Canada   39400         4      1.317                     25.50
4        Japan   34000         5      1.326                     77.00

In [5]:
isodf_set = pd.core.series.Series(list(set(isodf.country)))
religdf_set = pd.core.series.Series(list(set(religdf.country)))

In [6]:
[(i, j) for (i, j) in enumerate(religdf_set.isin(isodf_set)) if not j]

[(9, False),
 (23, False),
 (24, False),
 (35, False),
 (48, False),
 (49, False),
 (61, False),
 (66, False),
 (68, False),
 (79, False),
 (87, False),
 (92, False),
 (104, False),
 (105, False),
 (119, False),
 (126, False),
 (127, False),
 (128, False),
 (140, False),
 (145, False)]

In [30]:
print "religdf: ", religdf_set[145]

religdf:  Macedonia (FYR)

In [31]:
x = [i for i, j in enumerate(isodf_set.str.contains('Maced')) if j]
print isodf_set[x]

73    Macedonia, the former Yugoslav Republic of
dtype: object

In [33]:
#isodf
iso_replace = \
{'country' : 
   {isodf_set[200] : religdf_set[9],
    isodf_set[178] : religdf_set[23],
    isodf_set[232] : religdf_set[24],
    isodf_set[135] : religdf_set[35],
    isodf_set[165] : religdf_set[48],
    isodf_set[243] : religdf_set[49],
    isodf_set[187] : religdf_set[61],
    isodf_set[29]  : religdf_set[68],
    isodf_set[221] : religdf_set[79],
    isodf_set[74]  : religdf_set[87],
    isodf_set[90]  : religdf_set[92],
    isodf_set[101] : religdf_set[104],
    isodf_set[219] : religdf_set[105],
    isodf_set[11]  : religdf_set[119],
    isodf_set[86]  : religdf_set[126],
    isodf_set[27]  : religdf_set[127],
    isodf_set[2]  : religdf_set[128],
    isodf_set[149]  : religdf_set[140],
    isodf_set[73]  : religdf_set[145]
   }
 }

In [34]:
isodf = isodf.replace(iso_replace)

In [38]:
relig_iso_df = pd.merge(isodf, religdf, on='country', how='inner')

In [40]:
relig_iso_df.to_csv('relig_iso.csv')

In [45]:
r_gdp_df = relig_iso_df.rename(columns={'iso':'code', 'gdp_pc':'value' })
r_gpi_df = relig_iso_df.rename(columns={'iso':'code', 'gpi_score':'value' })
r_percent_non_relig = relig_iso_df.rename(columns={'iso':'code', 'percentage_non_religious':'value'})

In [46]:
r_gdp_df.to_csv('r_gdp.csv')
r_gpi_df.to_csv('r_gpi.csv')
r_percent_non_relig.to_csv('non_rel.csv')